/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

/* needed to add ids to everthing under featured brands because everything class is shadow */

.section {
  padding: 10px;
  margin: 1%;
}

#SummerGrass {
  float: left;
  width: 67%;
}

#ShoeArchive {
 position: relative;
 left: 50px;
 float: left;
 width: 31%;
}

#LadyBugs {
 position: relative;
 top: 20px;
 float: left;
 width: 31%;
}

#Skaters {
 float: left;
 width: 31%;
}

#BlueStar {
 float: left;
 width: 31%;
}
